@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
}

header{
    z-index: 10;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    padding-left: 2%;
}

main{
    width: 100%;
}

.imagem{
    width: 100px;
    height: auto;
}

.navlinks{
    display: flex;
    margin: 0;
    padding: 0;
}

.links{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Outfit";
    font-size: 1rem;
}

.links:hover{
    color: green;
    font-size: 17px;
}

.navegacao{
    padding-right: 2%;
}

.search-box {
    width: 200px;
    height:30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
.search-button {
    height: 30px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }  

.search-button:hover{
    background-color: #4CAF50;
}

#contentmain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
}

.apresentacao{
    max-width: 50%;
}

.titulo{
    font-family: "Outfit";
    text-transform: uppercase;
    font-size: 3.125rem;
    padding-bottom: 5px;
}

.titulodois{
    font-family: "Outfit";
    text-transform: uppercase;
    font-size: 1.125rem;
    padding-bottom: 30px;
    color: green;
}

.textop{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    text-align: justify;
}

.foto{
    padding-right: 2%;
    display: flex;
    justify-content: flex-start;
}

.alimentos{
    max-width: 500px;
    box-shadow: 10px 10px 3px green;
    
}

.alimentos:hover{
    transform: scale(1.02);
}

#main2 {
    background-image: url("/images/backgroundmain2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding-top: 11%;
    padding-bottom: 11%;
}


.cientistas{
    max-width: 500px;
    margin-bottom: 5%;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
}

.cientistas:hover{
    transform: scale(1.02);
}

.accordion {
    max-width: 50%;
}

#accordionExample{
    width: 60%;
}

.accordion-item:first-of-type .accordion-button, .accordion-button.collapsed, .accordion-item:last-of-type .accordion-button.collapsed{
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 600;
}

.accordion-body{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    display: flex;
}

footer{
    color: white;
    background-color: rgb(0, 0, 0);
}

#main3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.cards-receitas{
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5vh;
    justify-items: center;
}

#titulomain3{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Outfit";
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.a-receita{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.receita{
    max-width: 85%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.cards-receitas .receita:hover{
    background-color: rgb(233, 233, 233);
}

.imgreceita{
    padding: 3%;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
}

.titulodasreceitas{
    font-family: 'Outfit';
    font-size: 1rem;
    color: #28862b;
    text-align: center;
}

.preceitas{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    text-align: center;
    margin: 0;
    padding: 0 20px;
}

.botaoreceita{
    display: flex;
    padding-bottom: 20px;
}

.botao {
    background-color: green;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #1a701d;
  }
  
#main4{
    background-color: #3e4b3e;
    color: white;
    min-height: 700px;
    display: flex;
}

.areatextomain4{
    border-radius: 5px;
    border: none;
}

.botaomain4{
    border: none;
    font-family: 'Montserrat';
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.botaomain4:hover{
    color: white;
    background-color: black;
}

.parametrosmain4{
    font-family: 'Montserrat';
    font-weight: bold;
}

.conteudomain4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.botoesmain4{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 143, 78);
    border-radius: 10px;
    padding: 3%;
    width: 30%;
    margin: 0 auto;
}

.pmain4{
    font-family: 'Montserrat';
    text-align: justify;
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 4%;
}

#titulomain4{
    padding-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Outfit";
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

#resultado{
    margin-top: 4%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.inforesultadodiv{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

p#inforesultado{
    display: flex;
    padding-bottom: 150px;
    justify-content: center;
    text-align: justify;
}

.habitos-saudaveis, .tipos-habitos-saudaveis{
    display: flex;
    max-width: 1300px;
}

.tamanho-imagem{
    width: 300px;
    margin-left: 15%;
}

.tipos-habitos-saudaveis-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;

}

.tipo-texto-habitos-saudaveis{
    margin-right: 20%;
    font-family: Montserrat, sans-serif;
}

#titulo-habitos{
    font-family: "Outfit";
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.texto-habitos-saudaveis{
    width: 40%;
}

.content-hs{
    margin: 10% 0;
}

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="right"] {
    transform: translate3d(80px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.contentfooter{
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
}

.contato{
    padding-right: 20%;
}

.titulocontato{
    font-size: 1.875rem;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.tituloli{
    font-weight: bold;
    font-size: 20px;
}

.ptexto.tel a{
    margin-left: 8px;
}

.ptexto.mailto a{
    margin-left: 8px;
}

.ul-lista{
    margin: 0;
    padding: 0;
}

.lista{
    font-size: 20px;
}

.fab{
    font-size: 2.5rem;
    color: green;
    padding-bottom: 30px;
}

.fab:nth-child(2){
    padding-bottom: 0;
}

.fab{
    margin-right: 20px;
}

.link-redes{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 600px) {
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;
        justify-content: center;
    }

    .links{
        padding-right: 10px;
        font-size: 10px;
    }

    .imagem{
        width: 50px;
    }

    .search-form{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .search-box{
        max-height: 15px;
        max-width: 60%;
        font-size: 10px;
    }

    .search-button{
        max-height: 15px;
        max-width: 40%;
        font-size: 0.625rem;

    }

    #contentmain{
        flex-direction: column-reverse;
        margin-top: 10%;
    }

    .alimentos{
        max-width: 100vw;
        height: 200px;
        margin-bottom: 10%;
    }

    .titulo{
        font-size: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .titulodois{
        font-size: 12px;
        margin-top: 2%;
    }

    #main2{
        display: flex;
        flex-direction: column;
    }

    .cards-receitas{
        display: flex;
        flex-direction: column;
    }

    .divimgreceita{
        display: flex;
        max-width: 300px;
    }

    .imgreceita{
        padding: 10%;
    }

    #titulomain4{
    text-align: center;
    }


    .divinforeceitas{
        width: 300px;
    }


    .botoesmain4{
        width: 60%;
        margin-top: 5%;
    }

    .tipos-habitos-saudaveis-1{
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 10%;
    }

    .tipo-texto-habitos-saudaveis{
        margin: 0;
        display: flex;
        max-width: 600px;
    }

    .tamanho-imagem{
        margin: 0;
    }

    .contentfooter{
        flex-direction: column;
    }

    .contato{
        text-align: center;
        padding: 0;
        margin-bottom: 5%;
    }

    #contato{
        font-size: 1.875rem;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 900px;
        justify-content: center;
        max-height: 10%;
    }

    .links{
        padding-right: 10px;
        font-size: 10px;
    }

    .imagem{
        width: 60px;
    }

    .search-form{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        flex-direction: column;
    }

    .search-box{
        max-height: 20px;
        max-width: 60%;
        font-size: 10px;
    }

    .search-button{
        max-height: 20px;
        max-width: 40%;
        font-size: 0.625rem;

    }

    #contentmain{
        flex-direction: column-reverse;
        margin-top: 5%;
    }

    .alimentos{
        width: auto;
        height: 20%;
        margin-bottom: 10%;
    }

    .titulo{
        font-size: 2.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .titulodois{
        font-size: 12px;
        margin-top: 2%;
    }

    #main2{
        display: flex;
        flex-direction: column;
    }

    .cards-receitas{
        display: flex;
        width: 60%;
        flex-direction: column;
    }

    .divimgreceita{
        display: flex;
        max-width: 300px;
    }

    .imgreceita{
        display: flex   ;
        padding: 10%;
    }

    #titulomain4{
    text-align: center;
    }


    .divinforeceitas{
        width: 300px;
    }


    .botoesmain4{
        width: 60%;
        margin-top: 5%;
    }

    .tipos-habitos-saudaveis-1{
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 10%;
    }

    .tipo-texto-habitos-saudaveis{
        margin: 0;
        display: flex;
        max-width: 600px;
    }

    .tamanho-imagem{
        margin: 0;
    }

    .contentfooter{
        flex-direction: column;
    }

    .contato{
        text-align: center;
        padding: 0;
        margin-bottom: 5%;
    }

    #contato{
        font-size: 1.875rem;
        margin-bottom: 5%;
    }
}

